body {
	margin: 0;
	padding: 0;
	font-family: MuseoSansCyrl300 !important;
	background: url('../img/aquarel_bg_rounded.jpg') no-repeat;
	background-size: 70%;
	background-position: 268% 100%;
}

a {
	color: #000 !important;
	outline: none !important;
}
	
	  /* ******************* */
	 /* open header section */
	/* ******************* */

	.open-header {
		background: url('../img/bg@3x.jpg') no-repeat top;
		background-size: cover;
		height: 360px;
		border-radius: 90% / 5%;
		border-top-left-radius: 0%;
		border-top-right-radius: 0%;
		border-bottom-right-radius: 1% / 1%;
		border-bottom-left-radius: 1%/1%;
		color: #fff;
	}
	
	.navbar {
		margin-top: 15px;
		padding-left: 20px;
	}

	.navbar-logo {
		display: inline-block;
		width: 17.2%;
		vertical-align: top;
	}

	.navbar-logo > img {
		width: 100%;
	}

	.navbar-item {
		display: inline-block;
		margin: 20px;
		margin-top: 10px;
	}

	.navbar-item:nth-child(2) {
		margin-left: 130px;
	}
	
	.sm-date {
		font-size: 10px;
		letter-spacing: 0.5px;
		font-family: MuseoSansCyrl100;
		color: #6e6f8e;
	}

	.lg-date {
		font-size: 14px;
	}

	.final-date {
		color: #cbcbd6;
	}

	.share-wrapper {
		display: inline-block;
		float: right;
		margin-top: 10px;
	}
	
	.share {
		display: inline-block;
		margin-left: 25px;
		font-size: 14px;
	}

	.share:hover {
		cursor: pointer;
	}

	@media (max-width: 768px) {
		.open-header {
			height: 180px;
			text-align: center;
			border-radius: 0;
			background: none;
			background-color: #04073c;
		}
		
		.share-wrapper {
			margin-top: 20px;
			margin-bottom: 20px;
			padding-right: 0;
			float: none;
		}

		.share {
			margin: 0 20px;
		}

		.euro-logo > img {
			width: 70%;
		}
	}

	  /* ***************** */
	 /* open news section */
	/* ***************** */
	
	.open-news {
		position: relative;
	}

	.on-title-image {
		margin-top: -270px;
	}

	.on-title-image > img {
		width: 100%;
	}

	.on-title {
		letter-spacing: 1px;
		line-height: 34px;
		margin: 0;
		margin-top: 15px;
	}

	.on-text {
		line-height: 25px;
		font-size: 14px;
		margin: 0;
		margin-top: 10px;
	}

	.on-bold-title {
		font-family: MuseoSansCyrl700;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	

	.subtitle-image > img {
		width: 90%;
	}

	/* side author and tags */

	.sidebar {
		position: relative;
		top: 50px;
		left: 50px;
	}

	.side-title {
		font-family: MuseoSansCyrl700;
		font-size: 14px;
	}

	.author-name {
		font-size: 16px;
	}

	.author-block-image > img {
		width: 56px;
		height: 56px;
		border-radius: 50%;
	}

	.tags-block {
		position: relative;
		top: 20px;
	}

	.tag {
		display: inline-block;
		font-size: 12px;
		color: #fff;
		background-color: #04073c;
		padding: 4px;
		border-radius: 5px;
		margin-right: 5px;
		margin-top: 5px;
		
	}

	@media (max-width: 768px) {
		.on-title-image {
			margin: 0;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
		
		.on-main-title {
			margin-top: 63%;
		}

		.sidebar {
			position: static;
			margin-top: 5px;
		}
		
		.author-block-image {
			margin: 5px 0;
		}

		.author-name {
			font-size: 18px;
		}


		.tags-block {
			position: static;
			margin-top: 20px;
		}

		.tag {
			padding: 8px;
		}

		.subtitle-image {
			position: absolute;
			width: 100%;
			left: 0;
		}

		.subtitle-image >img {
			width: 100%;
		}

		.subtitle {
			margin-bottom: 70%;
		}
	}
	
	  /* ******************* */
	 /* open footer section */
	/* ******************* */


	.open-footer {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.suspilne-logo {
		display: inline-block;
	}

	.suspilne-logo:hover {
		cursor: pointer;
	}

	@media (max-width: 768px) {
		.open-footer {
			text-align: center;
			margin-top: 40px;
		}

		.share-footer {
			margin-top: 24px;
		}
	}



