body {
	margin: 0;
	padding: 0;
	font-family: MuseoSansCyrl300 !important;
	background: url('../img/aquarel_bg_rounded.jpg') no-repeat;
	background-size: 70%;
	background-position: 268% 100%;
}

a {
	color: #000 !important;
	outline: none !important;
}

	  /******************/
	 /* section header */
	/******************/
	
	.header {
		height: 715px;
		background: url('../img/bg.jpg') no-repeat center;
		background-size: cover;
		color: #fff;
		border-radius: 90% / 5%;
		border-top-left-radius: 0%;
		border-top-right-radius: 0%;
		border-bottom-right-radius: 1% / 1%;
		border-bottom-left-radius: 1%/1%;
		position: relative;
		margin-bottom: 340px;
	}
	
	.share-header {
		padding-bottom: 20px;
	}

	.share-wrapper {
		display: inline-block;
		float: right;
		margin-top: 24px;
		margin-bottom: 30px;
		padding-right: 40px;
	}
	
	.share {
		display: inline-block;
		margin-left: 25px;
		font-size: 14px;
	}

	.share:hover {
		cursor: pointer;
	}
	
	.euro-logo > img {
		width: 87%;
	}

	.header-title {
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 35px;
		margin-left: 25px;
	}

	.bold-title {
		font-family: MuseoSansCyrl700;
		font-size: 36px;
	}

	.light-title {
		font-family: MuseoSansCyrl300;
		font-size: 24px;
	}

	.stage {
		line-height: 22px;
		margin-left: 18px;
	}

	.second-stage {
		margin-top: 12px;
	}

	.stage-text {
		font-size: 12px;
	}

	.stage-date {
		font-size: 22px;
		font-family: MuseoSansCyrl300;
	}
	
	.final-stage {
		display: inline-block;
		line-height: 35px;
		border: 1px solid #4b5173;
		padding: 12px;
		margin-left: 25px;
	}

	.final-text {
		text-transform: uppercase;
		font-size: 26px;
	}

	.final-date {
		font-size: 34px;
		font-family: MuseoSansCyrl700;
	}

	@media (max-width: 768px) {
		.header {
			text-align: center;
			height: 660px;
			margin-bottom: 420px;
			border-radius: 0;
		}
		
		.share-wrapper {
			margin-bottom: 5px;
			padding-right: 0;
			float: none;
		}

		.euro-logo > img {
			width: 50%;
		}

		.euro-logo-wrapper {
			margin-bottom: 60px;
		}
		
		.header-title {
			margin-left: 0;
		}

		.bold-title {
			font-size: 22px;
			letter-spacing: 1.5px;
		}

		.stage {
			margin: 0;
		}

		.final-stage {
			border: none;
			margin: 0;
		}
	}

	      /**********/
	     /* slider */
	    /**********/

	.slider {
		width: 940px;
		position: relative; 
		bottom: -24%;
		left: 50%;
		transform: translateX(-50%);
		margin-left: 10px;
	}

	.slider-title {
		text-transform: uppercase;
		padding-bottom: 15px;
		margin-left: -10px;
	}
	
	.profile {
		display: inline-block;
		height: 460px;
		text-align: center;
		margin: 0 19px;
	}

	.profile-wrapper {
		position: absolute;
		width: 100%;
	}

	.profile:hover {
		text-decoration: none;
		color: #000;
	}

	.photo {
		width: 288px;
		height: 288px;
	}

	.photo > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.profile-descr {
		padding-top: 70px;
		padding-left: 30px;
		width: 288px;
		padding-bottom: 55px;
		border: 1px solid #f4f4f4;
		border-top: none;
		text-align: left;
	}

	.home-place {
		font-family: MuseoSansCyrl700;
	}

	.name {
		text-transform: uppercase;
		font-size: 24px;
		font-family: MuseoSansCyrl500;
	}

	.control {
		position: relative;
		width: inherit;
		bottom: -250px;
	}

	.control > div:hover {
		cursor: pointer;
		transition: 0.5s;
	}

	.control-left {
		position: absolute;
		left: -10%;
		background: url('../img/arrow.png') no-repeat center;
		background-size: 100%;
		height: 60px;
		width: 30px;
	}

	.control-right {
		position: absolute;
		right: -10%;
		background: url('../img/arrow.png') no-repeat center;
		background-size: 100%;
		transform: rotate(180deg);
		height: 60px;
		width: 30px;
	}

	.control-left:hover {
		background: url('../img/arrow-red.png') no-repeat center;
		background-size: 100%;
		height: 60px;
		width: 30px;
	}

	.control-right:hover {
		background: url('../img/arrow-red.png') no-repeat center;
		background-size: 100%;
		height: 60px;
		width: 30px;
		transform: rotate(180deg);
	}	

	.open-all-button {
		display: block;
		float: right;
		color: #dc1b20;
		font-size: 13px;
		font-family: MuseoSansCyrl700;
		margin-top: 30px;
	}

	.open-all-button:hover {
		cursor: pointer;
	}

	.border-line {
		width: 28px;
		height: 1px;
		background-color: #dc1b20;
		margin-top: 2px;
	}

	.open-all-button:hover > .border-line {
		width: 75px;
		transition: 1s;
	}

	@media (max-width: 768px) {
		.slider {
			width: 100%;
			bottom: -5%;
			margin-left: 0;
		}

		.slider-title {
			text-align: left;
			font-size: 30px;
			margin-left: 0;
		}

		.control {
			display: none;
		}
		
		.profile-wrapper {
			padding-left: 10px;
			overflow-x: hidden;
		}

		.profile {
			margin: 0 10px;
		}

		.photo {
			width: 262px;
			height: 262px;
		}

		.profile-descr {
			width: 262px;
		}

		.open-all-button {
			float: none;
			text-align: left;
			margin-top: 0;
			font-size: 14px;
		}

		.border-line {
			width: 42px;
			margin-top: 8px; 
		}
	}

	@media (max-width: 480px) {
		.open-all-button {
			font-size: 12px;
		}

		.border-line {
			width: 30px;
		}
	}

	   /* ************ */
	  /* news section */
	 /* ************ */

	.news-section-title {
		font-size: 35px;
	}

	.news {
		display: block;
		width: 100%;
		margin-top: 25px;
	}
		
	.news-image {
		display: inline-block;
		float: left;	
	}

	.news-image > img {
		width: 350px;
		height: 220px;
	}

	.news-content {
		display: inline-block;
		width: 56%;
		height: 220px;
		padding-top: 15px;
		padding-left: 40px;
		padding-right: 40px;
		border: 1px solid #f4f4f4;
		border-left: none;
		float: left;
		font-family: MuseoSansCyrl100;
	}

	.news-date {
		color: #b0b0b0;
		font-size: 12px;
	}

	.news-name {
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-family: MuseoSansCyrl300;
	}

	.news-text {
		line-height: 18px;
	}

	.news-text > p {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.news-button {
		font-family: MuseoSansCyrl700;
		color: #dc1b20;
	}

	.news-button:hover {
		cursor: pointer;
	}

	@media (max-width: 768px) {
		.news {
			width: 95%;
			margin: 0 auto;
			margin-top: 25px;
		}

		.news-image > img {
			width: 100%;
			object-fit: cover;
		}

		.news-image, .news-content {
			width: 100%;
			float: none;
		}

		.news-content {
			border-top: none;
			border-left: 1px solid #f4f4f4;
			height: auto;
			padding: 20px;
			padding-bottom: 40px;
		}
	}



	   /**************** */
	  /* footer section */
	 /* ************** */

	.footer {
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.suspilne-logo {
		display: inline-block;
		margin-top: 30px;
	}

	.suspilne-logo:hover {
		cursor: pointer;
	}

	@media (max-width: 768px) {
		.footer {
			text-align: center;
		}
	}





